

<h3 class="text-center">Que peut faire Alfred pour vous ?</h3>


<div class="row">
  <div class="col-xs-9 col-xs-offset-1 col-md-8 col-md-offset-2">
    <% @services.each do |service| %>
      <%= render "product_row", service: service, order_item: @order_item %>
    <% end %>
  </div>
</div>

<div>
 <h4 class="text-center"><%= link_to "Voir mes reservations", carts_show_path%></h4>
 </div>


