

<h3 class="text-center">Que peut faire Alfred pour vous ?</h3>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% @services.each do |service| %>
      <%= render "product_row", service: service, order_item: @order_item %>
    <% end %>
  </div>
</div>
<div class="à gauche">
 <p><%= link_to "Voir mes reservations", carts_show_path%></p>
 </div>

