<h1> Vos reservations</h1>


<div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>

<%= render 'layouts/cart_text' %>
<li><%= link_to "Alfred peut encore faire quelque chose pour moi", services_path %></li>
