.banner {
  background-image: linear-gradient(-225deg, rgba(32,32,32,0.8) 0%, rgba(0,36,61,0.8) 50%);
  background-image: url('https://res.cloudinary.com/dtngvyuf6/image/upload/v1458119155/Alfred/Alfred2_plage.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-size: cover;
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(200,200,200,0.3);
  // line-height: 1.1;
  text-rendering: optimizelegibility;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 0;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-top: 120px;
  line-height: 1.1;
  text-rendering: optimizelegibility;

}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);

}

#prestation {
  width: 80%;
}

.banner2 {
  height: 100vh;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-size: cover;
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  // line-height: 1.1;
  text-rendering: optimizelegibility;
  position: relative;
  width: 100%;
  top: 0;
  z-index: -1;
}



.container_banner2{
    width: 100%;
    text-align: center;
    color: #5CA4A9;
    background-color: #f0f0f5;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.banner_commentcamarche{
  background-image: url('http://res.cloudinary.com/dtngvyuf6/image/upload/v1458637922/Alfred1_qy2hwe.png');
  // background-image: -webkit-linear-gradient(315deg, rgba(0, 114, 168, 0.31) 0%, rgba(4, 43, 70, 0.6) 50%);
  height: 100vh;
  // opacity: 0.7;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-size: cover;
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  // line-height: 1.1;
  text-rendering: optimizelegibility;
  position: relative;
  width: 100%;
  top: 0;
  z-index: -1;
}

.banner_commentcamarche h2 {
  text-shadow: 0 1px 3px rgb(51, 51, 51);
}

.banner_commentcamarche h3 {
  text-shadow: 0 1px 3px rgb(51, 51, 51);
}

.banner_nostarifs{
  background-image: url('http://res.cloudinary.com/dtngvyuf6/image/upload/v1458568417/Alfred/Alfred3_cle%CC%81.png');
  height: 100vh;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-size: cover;
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  // line-height: 1.1;
  text-rendering: optimizelegibility;
  position: relative;
  width: 100%;
  top: 0;
  z-index: -1;
}

.banner_nostarifs h2 {
  text-shadow: 0 1px 3px rgb(51, 51, 51);
}

.banner_nostarifs h3 {
  text-shadow: 0 1px 3px rgb(51, 51, 51);
  color: white;
}

.banner_nostarifs p {
  text-shadow: 0 1px 3px rgb(51, 51, 51);
  margin-top: 120px;
  position: absolute;
  height: 55px;
}

.btn-default {
    margin: 5px auto;
    padding: 12px 24px;
    border: 1px solid #CCC;
    height: 48px;
    font-size: 14px;
    background-color: rgba(255,255,255,0.35);
    color: grey;
    border-radius: 5px;
}
