$('.alert').hide();
<% if @cart.errors.any? %>
  alert("not valid.")
<% elsif @alert.present? %>
  $('nav').after('<div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>' + '<%= @alert %>' + '</div>');
<% else %>
  $(".cart-text-hitbox").html("<%= escape_javascript(render 'layouts/cart_text') %>")
<% end %>
