/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */


.alert {
  margin: 0;
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
  top: 60px;
  z-index: 1;
}

// .alert {
//   margin: 0;
//   text-align: center;
//   color: white;
//   position: relative;
//   z-index: 1;
// }

.alert-info {
  background: $blue;
}
.alert-warning {
  background: $red;
}
.alert {
border-radius: 4px;
 color: black;
 height: 48px;
 text-align: justify;
 font-size: 14px;
 width: 100%;
 text-align: center;
}
