body.devise_sessions {
  background: #CDCDCD;
}

#btnvalid {
  width: 100px;
  background-color:  #EE5F5B;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-right: 20px;
  margin-top: 20px;

}

.valid{
  text-align: right;
  margin-right: 40px;
}

#lienvalid{
   margin-right: 40px;
}

.formulaire {
  padding: 50px;
  background-color: #5CA4A9;
  border: #CCC 1px solid;
  color: grey;
  margin-top: 60px;
  margin-bottom: 30px;
}


p {
  color: white;
  margin-bottom: 40px;
}

.login {
 border-radius: 4px;
 height: 48px;
 text-align: justify;
 font-size: 14px;
 width: 100%;
 text-align: center;



 input {
    margin: 5px auto;
    padding: 12px 24px;
    border: 1px solid #CCC;
    height: 48px;
    font-size: 14px;
    // background-color: rgba(255,255,255,0.35);
    color: grey;
    border-radius: 5px;
    width: 100%;
 }

 h2 {
    color: grey;
    margin: 20px;
    font-size: 40px;
 }
 // .checkbox input {
 //  margin: 0;
 //  position: initial;
 //  margin-right: 4px;
 //  margin-top: 10px;
 // }
 //

 .btn {
  background-color: #EE5F5B ;
  }

// }

 input:focus, textarea:focus {
   // background: transparent;
   border: none;
   border-bottom: solid 1px white;
   color:#EE5F5B;
   box-shadow: none;
   outline: non
 }

#log {
 // border: 1px solid white;
 // color: white;
 border-radius: 5px;
 // padding-left:20px;
 // padding-right: 20px;
background-color: #EE5F5B;
}


#password {
 color: rgb(190,190,190);
 font-size: 10px;
}

.checkbox input[type="checkbox"] {
  height: 10px;
}
}
